<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862107357955-oirmveko8rl83rqk6std271vl1vbjktg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862107357955-oirmveko8rl83rqk6std271vl1vbjktg</string>
	<key>API_KEY</key>
	<string>AIzaSyAOKjtDn_OMvE6mHFlFJx2ZzR3c3FkVfeI</string>
	<key>GCM_SENDER_ID</key>
	<string>862107357955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>mobileappproject-9c009</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileappproject-9c009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862107357955:ios:bbd0ece46f406bdca50f36</string>
	<key>DATABASE_URL</key>
	<string>https://mobileappproject-9c009-default-rtdb.firebaseio.com</string>
</dict>
</plist>